
@{
    ViewBag.Title = "BookTable";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}



<!-- book a table Section  -->
<div class="container-fluid has-bg-overlay text-center text-light has-height-lg middle-items" id="book-table">
    <div class="">
        <h2 class="section-title mb-5">BOOK A TABLE</h2>
        <div class="row mb-5">
            <div class="col-sm-6 col-md-3 col-xs-12 my-2">
                <input type="email" id="booktable" class="form-control form-control-lg custom-form-control" placeholder="EMAIL">
            </div>
            <div class="col-sm-6 col-md-3 col-xs-12 my-2">
                <input type="number" id="booktable" class="form-control form-control-lg custom-form-control" placeholder="NUMBER OF GUESTS" max="20" min="0">
            </div>
            <div class="col-sm-6 col-md-3 col-xs-12 my-2">
                <input type="time" id="booktable" class="form-control form-control-lg custom-form-control" placeholder="EMAIL">
            </div>
            <div class="col-sm-6 col-md-3 col-xs-12 my-2">
                <input type="date" id="booktable" class="form-control form-control-lg custom-form-control" placeholder="12/12/12">
            </div>
        </div>
        <a href="#" class="btn btn-lg btn-primary" id="rounded-btn">FIND TABLE</a>
    </div>
</div>
