
@{
    ViewBag.Title = "Reviews";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}

<!-- REVIEWS Section  -->
<div id="testmonial" class="container-fluid wow fadeIn bg-dark text-light has-height-lg middle-items">
    <h2 class="section-title my-5 text-center">REVIEWS</h2>
    <div class="row mt-3 mb-5">
        <div class="col-md-4 my-3 my-md-0">
            <div class="testmonial-card">
                <h3 class="testmonial-title">John Doe</h3>
                <h6 class="testmonial-subtitle">Web Designer</h6>
                <div class="testmonial-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum nobis eligendi, quaerat accusamus ipsum sequi dignissimos consequuntur blanditiis natus. Aperiam!</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 my-3 my-md-0">
            <div class="testmonial-card">
                <h3 class="testmonial-title">Steve Thomas</h3>
                <h6 class="testmonial-subtitle">UX/UI Designer</h6>
                <div class="testmonial-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum minus obcaecati cum eligendi perferendis magni dolorum ipsum magnam, sunt reiciendis natus. Aperiam!</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 my-3 my-md-0">
            <div class="testmonial-card">
                <h3 class="testmonial-title">Miranda Joy</h3>
                <h6 class="testmonial-subtitle">Graphic Designer</h6>
                <div class="testmonial-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, nam. Earum nobis eligendi, dignissimos consequuntur blanditiis natus. Aperiam!</p>
                </div>
            </div>
        </div>
    </div>
</div>


